<!doctype html>
<html lang="en">
<head>
	<title>Detect the movitaion _socket.io_three.js</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel=stylesheet href="/css/base.css"/>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/Three.js"></script>
<script src="/js/Detector.js"></script>
<script src="/js/Stats.js"></script>
<script src="/js/OrbitControls.js"></script>
<script src="/js/THREEx.KeyboardState.js"></script>
<script src="/js/THREEx.FullScreen.js"></script>
<script src="/js/THREEx.WindowResize.js"></script>

<!-- jQuery code to display an information button and box when clicked. -->
<script src="/js/jquery-1.9.1.js"></script>
<script src="/js/jquery-ui.js"></script>
<link rel=stylesheet href="/css/jquery-ui.css" />
<link rel=stylesheet href="/css/info.css"/>
<script src="/js/info.js"></script>
<!-- ------------------------------------------------------------ -->
<script>

</script>
<div id="ThreeJS" style="position: absolute; left:0px; top:0px"></div>
<script>

// standard global variables
var container, scene, camera, renderer, controls, stats;
var keyboard = new THREEx.KeyboardState();
var clock = new THREE.Clock();
// custom global variables
var cubeArray = [];
var MovingCube;
var mySid;
var myColor;

// MAIN
var socket = io();
socket.on("connect", function(){
	console.log('connected!');
})

socket.on('yourSid', function(sid){
	mySid = sid;
	// console.log('My id:', mySid);
})

socket.on('createCube', function(id){
	console.log('created cubes', id);
	CreateCube(id);
})

socket.on('remove', function(id){
	removeCube(id);
})

socket.on('move', function(id, buttonKey, moveDistance, rotateAngle){
	console.log(moveDistance, rotateAngle);
	console.log('move completely');
	moveCube(id, buttonKey, moveDistance, rotateAngle);
})

socket.on('askPosition', function(sid){
	cubeArray.forEach(cube => {
		if(cube.id === mySid){
			var position = cube.cube
			console.log(position);
			socket.emit("answerPosition", sid, position.position, myColor);
		}
	});
})

socket.on("answerPosition", function(oldSid, position, color){
	var newCube = CreateCube(oldSid, color, position)
	cubeArray.push(newCube);
})





init();
animate();

// FUNCTIONS 		
function init() 
{
	// SCENE
	scene = new THREE.Scene();
	// CAMERA
	var SCREEN_WIDTH = window.innerWidth, SCREEN_HEIGHT = window.innerHeight;
	var VIEW_ANGLE = 45, ASPECT = SCREEN_WIDTH / SCREEN_HEIGHT, NEAR = 0.1, FAR = 20000;
	camera = new THREE.PerspectiveCamera( VIEW_ANGLE, ASPECT, NEAR, FAR);
	scene.add(camera);
	camera.position.set(0,150,400);
	camera.lookAt(scene.position);	
	// RENDERER
	if ( Detector.webgl )
		renderer = new THREE.WebGLRenderer( {antialias:true} );
	else
		renderer = new THREE.CanvasRenderer(); 
	renderer.setSize(SCREEN_WIDTH, SCREEN_HEIGHT);
	container = document.getElementById( 'ThreeJS' );
	container.appendChild( renderer.domElement );
	// EVENTS
	THREEx.WindowResize(renderer, camera);
	THREEx.FullScreen.bindKey({ charCode : 'm'.charCodeAt(0) });
	// CONTROLS
	controls = new THREE.OrbitControls( camera, renderer.domElement );
	
	// LIGHT
	var light = new THREE.PointLight(0xffffff);
	light.position.set(0,250,0);
	scene.add(light);
	// FLOOR
	var floorTexture = new THREE.ImageUtils.loadTexture( 'images/plane.jpg' );
	floorTexture.wrapS = floorTexture.wrapT = THREE.RepeatWrapping; 
	floorTexture.repeat.set( 0.1, 0.1 );
	var floorMaterial = new THREE.MeshBasicMaterial( { map: floorTexture, side: THREE.DoubleSide } );
	var floorGeometry = new THREE.PlaneGeometry(1000, 1000, 10, 10);
	var floor = new THREE.Mesh(floorGeometry, floorMaterial);
	floor.position.y = -0.5;
	floor.rotation.x = Math.PI / 2;
	scene.add(floor);
	// SKYBOX/FOG
	var skyBoxGeometry = new THREE.CubeGeometry( 10000, 10000, 10000 );
	var skyBoxMaterial = new THREE.MeshBasicMaterial( { color: 0x9999ff, side: THREE.BackSide } );
	var skyBox = new THREE.Mesh( skyBoxGeometry, skyBoxMaterial );
	// scene.add(skyBox);
	scene.fog = new THREE.FogExp2( 0x9999ff, 0.00025 );
}

function animate(){
    requestAnimationFrame( animate );
	render();		
	update();
}

function update()
{
	var delta = clock.getDelta(); // seconds.
	var moveDistance = 200 * delta; // 200 pixels per second
	var rotateAngle = Math.PI / 2 * delta;   // pi/2 radians (90 degrees) per second

	
	// move forwards/backwards/left/right
	if ( keyboard.pressed("W") ){
		socket.emit('move', 'W', moveDistance, rotateAngle);
	}
		
	if ( keyboard.pressed("S") ){
		socket.emit('move', 'S', moveDistance, rotateAngle);
	}
	if ( keyboard.pressed("Q") )
		socket.emit('move', 'Q', moveDistance, rotateAngle);
	if ( keyboard.pressed("E") )
		socket.emit('move', 'E', moveDistance, rotateAngle);

	// rotate left/right/up/down
	var rotation_matrix = new THREE.Matrix4().identity();
	if ( keyboard.pressed("A") )
		socket.emit('move', 'A', moveDistance, rotateAngle);
	if ( keyboard.pressed("D") )
		socket.emit('move', 'D', moveDistance, rotateAngle);
	if ( keyboard.pressed("R") )
		socket.emit('move', 'R', moveDistance, rotateAngle);
	if ( keyboard.pressed("F") )
		socket.emit('move', 'F', moveDistance, rotateAngle);
	
	if ( keyboard.pressed("Z") )
	{
		socket.emit('move', 'Z', moveDistance, rotateAngle);
	}
		
	// global coordinates
	if ( keyboard.pressed("left") )
		socket.emit('move', 'left', moveDistance, rotateAngle);
	if ( keyboard.pressed("right") )
		socket.emit('move', 'right', moveDistance, rotateAngle);
	if ( keyboard.pressed("up") )
		socket.emit('move', 'up', moveDistance, rotateAngle);
	if ( keyboard.pressed("down") )
		socket.emit('move', 'down', moveDistance, rotateAngle);
		
	controls.update();
}

function CreateCube (cubeId, cubeColor, cubePosition) {
	var materialArray = [];
	var colorVector;
	if(cubeColor) colorVector = cubeColor;
	else colorVector = Math.random() * 255;
	if(cubeId === mySid)
		myColor = colorVector;
	var faceColor = new THREE.Color(colorVector);
	materialArray.push(new THREE.MeshBasicMaterial( { color: faceColor}));
	materialArray.push(new THREE.MeshBasicMaterial( { color: faceColor}));
	materialArray.push(new THREE.MeshBasicMaterial( { color: faceColor}));
	materialArray.push(new THREE.MeshBasicMaterial({ color: faceColor}));
	materialArray.push(new THREE.MeshBasicMaterial( { color: faceColor}));
	materialArray.push(new THREE.MeshBasicMaterial( { color: faceColor}));
	var MovingCubeMat = new THREE.MeshFaceMaterial(materialArray);
	var MovingCubeGeom = new THREE.CubeGeometry( 50, 50, 50, 1, 1, 1, materialArray );
	MovingCube = new THREE.Mesh( MovingCubeGeom, MovingCubeMat );
	if(!cubePosition)
	MovingCube.position.set(0, 25.1, 0);
	else MovingCube.position.set(cubePosition.x, cubePosition.y, cubePosition.z);
	cubeArray.push({id: cubeId, cube: MovingCube});
	scene.add( MovingCube);
	console.log(MovingCube);
	return MovingCube;
}

function removeCube(cubeId){
	cubeArray.forEach(cube => {
		if(cube.id === cubeId){
			scene.remove(cube.cube);
		}
	});
	
}

function moveCube(cubeId, buttonKey, moveDistance, rotateAngle){
	cubeArray.forEach(cube => {
		if(cube.id === cubeId){
			switch (buttonKey) {
			case "W":
				cube.cube.translateZ(  -moveDistance );
				break;
			case "S":
				cube.cube.translateZ(  moveDistance );
				break;
			case "Q":
				cube.cube.translateX( -moveDistance );
				break;
			case "E":
				cube.cube.translateX(  moveDistance );
				break;
			case "A":
				cube.cube.rotateOnAxis( new THREE.Vector3(0,1,0), rotateAngle);
				break;
			case "D":
				cube.cube.rotateOnAxis( new THREE.Vector3(0,1,0), -rotateAngle);
				break;
			case "R":
				cube.cube.rotateOnAxis( new THREE.Vector3(1,0,0), rotateAngle);
				break;
			case "F":
				cube.cube.rotateOnAxis( new THREE.Vector3(1,0,0), -rotateAngle);
				break;
			case "Z":
				{
					cube.cube.position.set(0,25.1,0);
					cube.cube.rotation.set(0,0,0);
				}
				break;
			case "left":
				cube.cube.position.x -= moveDistance;
				break;
			case "right":
				cube.cube.position.x += moveDistance;
				break;
			case "up":
				cube.cube.position.z -= moveDistance;
				break;
			case "down":
				cube.cube.position.z += moveDistance;
				break;
			default:
				break;
			}
		}
	});
}

function render() 
{
	renderer.render( scene, camera );
}

</script>

</body>
</html>
